header {
  text-align: center;
}

.well {
  background-color: #52BE80;
}

.col-sm-4, .col-sm-6 {
  border: 1px solid black;
}

#explanationCol {
  color: #FFC300;
  padding-bottom: 30px;
  background-color: #900C3F;
}

#btnFormCol {
  background-color: #FF5733;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-left: 5px;
}

#resultCol {
  background-color: #BB8FCE;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-top: 5px;
}

form button, input {
  color: black;
}

.initially-hidden {
  display: none;
}
